body{
	font-family:sans-serif;
	margin: 0;
	overflow: hidden;
	background-image:url('../image/5.jpg');
	background-size:cover;
}
*{
	margin: 0;
	padding: 0;
	list-style:none;
}
%center{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.cont{
   @extend %center;
   width: 100%;
   height: 100%;
   background:url('../image/5.jpg');
   background-size:cover;
}
.time{
    padding-left:15px;
    width:120px;
	height:40px;
	background:rgb(157,86,23);
	position:absolute;
	border-radius:8px;
	top:60px;
	left:1220px;
	line-height:40px;
	font-size:22px;
	color:#fff;
	cursor:pointer;
	opacity:0.8;
	font-weight:bold;
}
.time span {	
  width: 60px;
  height: 40px;
}

.victory{
	width:321px;
	height:121px;
	background:rgba(96,56,17,0.9);
	position:absolute;
	top:201px;
	left:523px;
    z-index:999999;
    text-align:center;
    line-height:120px;
    font-size:80px;
    display:none;
}
.hei{
	color:black;
}
.bai{
	color:white;
}
.machine{
	width:120px;
	height:40px;
	background:rgb(157,86,23);
	position:absolute;
	border-radius:8px;
	top:60px;
	left:30px;
	text-align:center;
	line-height:40px;
	font-size:22px;
	color:#fff;
	cursor:pointer;
	opacity:0.8;
	font-weight:bolder;
}
.person.click{
	background:rgb(230,46,43);
}
.machine.click{
	background:rgb(230,46,43);
}
.machine:hover{
	background:rgb(230,46,43);
}
.person:hover{
	background:rgb(230,46,43);
}
.person{
	width:120px;
	height:40px;
	background:rgb(157,86,23);
	position:absolute;
	border-radius:8px;
	top:120px;
	left:30px;
	text-align:center;
	line-height:40px;
	font-size:22px;
	color:#fff;
	cursor:pointer;
	opacity:0.8;
	font-weight:bolder;
}
.regular{
	width:120px;
	height:40px;
	background:rgb(157,86,23);
	position:absolute;
	border-radius:8px;
	top:180px;
	left:30px;
	text-align:center;
	line-height:40px;
	font-size:22px;
	color:#fff;
	cursor:pointer;
	opacity:0.8;
	font-weight:bolder;
}
.jiantou {
  position: absolute;
  top:218px;
  left:112px;
  z-index: 10;
  width:0; 
  height:0; 
  border-left:18px solid transparent;
  border-right:18px solid transparent;
  border-bottom:18px solid rgba(157,86,23,.5);
}
.game-regular{
    padding:15px;
	width:165px;
	border:1px solid grey;
	position:absolute;
	top:235px;
	left:30px;
	border-radius:10px;
	line-height:25px;
	background:rgba(157,86,23,.5);
}
$width:600px;
.cont .qipan{
   @extend %center;
    background-color:rgb(96,56,17);
    opacity: .8;
	width: $width;
	height: $width;
     box-shadow:0px 5px 12px 5px #000 ;
	.qizi{
		cursor: pointer;
		position: relative;
		z-index: 11111;
		width: $width/15-$width/60;
		height: $width/15-$width/60;
        margin: 5px;
		border-radius: 50%;
		float: left;
	}
	.qizi.bai{
		background: #fff;
	}
	.qizi.hei{
		background: #000;
	}
	.hang{
		display: block;
		position: absolute;
        left: $width/30;
		z-index: 10;
        height: 1px;
        width: $width - $width/15;
        background: white;  
        opacity: 0;
	}
	.shu{
          position: absolute;
          z-index: 10;
          top:$width/30;
          width: 1px;
          background-color:rgb(255,255,255);
          height: $width - $width/15;
          display: block;
          opacity: 0;
	}
}
@for $i from 0 through 14{
	.qipan b:nth-of-type(#{$i+1}){
	top:$width/30+$i*$width/15;
	animation:feiru .5s ease $i*0.07s forwards;

  }

}
@for $i from 0 through 14{
	    .qipan i:nth-of-type(#{$i+1}){
	left:$width/30+$i*$width/15;
	animation:feiru .5s ease $i*0.07s forwards;

  }
}
//掉落动画
.qipan span{
	display: block;
	width: $width/50;
	position: absolute;
	height: $width/50;
	border-radius: 50%;
	background: #000;
	animation:diaoluo 1.5s ease;
    z-index:11; 
	&:nth-of-type(1){
	top:3.5*$width/15;
	left:3.5*$width/15;
	transform:translate3d(-45%,-45%,0);
}
&:nth-of-type(2){
	top:3.5*$width/15;
	left:11.5*$width/15;
	transform:translate3d(-45%,-45%,0);
}
&:nth-of-type(3){
	top:7.5*$width/15;
	left:7.5*$width/15;
	transform:translate3d(-45%,-45%,0);
}
&:nth-of-type(4){
	top:11.5*$width/15;
	left:3.5*$width/15;
	transform:translate3d(-45%,-45%,0);
}
&:nth-of-type(5){
	top:11.5*$width/15;
	left:11.5*$width/15;
	transform:translate3d(-45%,-45%,0);
}
}
@keyframes diaoluo{
	0%{
		transform:translate3d(0,-800px,0);
	}
	100%{
		transform:translate3d(-45%,-45%,0);
	}
}
@keyframes feiru{
	0%{
		transform:translate3d(-1000px,-100px,0);
	}
	100%{
		opacity: 1;
		transform:translate3d(0,0,0);
	}
}
@keyframes fei{
	0%{
		transform:translate3d(-1000px,-100px,0);
	}
	100%{
		opacity: 1;
		transform:translate3d(0,0,0);
	}
}

//钟表
%juzhong{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.zhongxin{
	width:10px;
	height:10px;
	border-radius:50%;
	background:black;
	position:relative;
	top:420px;
	left:1258px;
	z-index:10;
}
.zhizhen{
	width:3px;
	height:90px;
	background:red;
	position:absolute;
	top:402px;
	left:1262px;
}
.zhizhen {
    position: absolute;
    background-color: red;
    border-radius: 3px;
    transform-origin: 50% 25%;
    animation: xuanzhuan 60s steps(60, end) infinite;
}
@keyframes xuanzhuan {  
  to{
        transform: rotate(360deg);
        } 
}

.ceshi{
	width: 156px;
	height: 156px;
	border: 5px rgb(157,120,23) solid ;
	background:rgba(157,86,23,.5);
	position: relative;
	border-radius: 50%;
	top:330px;
	left:1180px;
li{
	@extend  %juzhong;
	width: 2px;
	height: 5px;
	background: #fff;
	transition:all 0.8s ease;
	&:nth-child(5n){
	background:black;
	width:$width/300 ;
	height:$width/120 ;
	}
  }
}

@for $i  from 1 through 60{
	.ceshi li:nth-child(#{$i}){
		transform:rotateZ($i*6deg)translateY(1500%);
	}
}
	